@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --font1: "Fraunces", serif;
  --font2: "Barlow", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-image: url("../img/desktop/image-header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.principal {
  text-align: center;
  padding-top: 13%;
}

.principal h1 {
  font-family: var(--font1);
  font-size: 60px;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-block-start: 0;
}

.transformacion,
.audiencia,
.graficos-fotografia {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.transformacion .imagen-derecho {
  background-image: url("../img/desktop/image-transform.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.transformacion div:nth-child(1) {
  padding: 18% 16% 10% 22%;
}

h2 {
  font-family: var(--font1);
  font-size: 40px;
  font-weight: 900;
  color: #28323e;
}

.transformacion .link,
.audiencia .link {
  font-family: var(--font1);
  font-size: 18px;
  font-weight: 700;
  color: #30343d;
  text-decoration: none;
}

.transformacion .link:hover {
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-decoration-color: hsl(51, 100%, 49%);
}

.audiencia .link:hover {
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-decoration-color: hsl(7, 99%, 70%);
}

.transformacion .parrafo,
.audiencia .parrafo {
  font-family: var(--font2);
  font-size: 18px;
  line-height: 28px;
  color: #939096;
}

.audiencia .imagen-izquierda {
  background-image: url("../img/desktop/image-stand-out.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.audiencia div:nth-child(2) {
  padding: 17% 22% 10% 16%;
}

.graficos {
  background-image: url("../img/desktop/image-graphic-design.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50% 25% 5%;
  text-align: center;
}

h3 {
  font-family: var(--font1);
  font-size: 28px;
  line-height: 28px;
  font-weight: 900;
}

.graficos .parrafo,
.graficos h3 {
  color: hsl(167, 40%, 24%);
}

.graficos .parrafo {
  font-family: var(--font2);
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}

.fotografia {
  background-image: url("../img/desktop/image-photography.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50% 25% 5%;
  text-align: center;
}

.fotografia .parrafo,
.fotografia h3 {
  color: hsl(198, 62%, 26%);
}

.fotografia .parrafo {
  font-family: var(--font2);
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}

.testimonios {
  padding: 8.5% 11.3% 11%;
}

.titulo-testimonio {
  color: hsl(210, 4%, 67%);
  font-family: var(--font1);
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.testimonios .perfiles {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 20px;
  text-align: center;
  margin: 7% 0 0;
}

.testimonio-perfil img {
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

.testimonio-perfil .descripcion {
  font-family: var(--font2);
  font-size: 19px;
  line-height: 30px;
  color: #707275;
  margin-block-start: 14%;
}

.testimonio-perfil .nombre-testimonio {
  font-family: var(--font1);
  font-size: 19px;
  line-height: 19px;
  margin-block-start: 18%;
}

.testimonio-perfil .puesto {
  font-family: var(--font2);
  font-size: 14px;
  color: hsl(210, 4%, 67%);
}

.items {
  display: grid;
  grid-template-areas: "ia ib ic id"
    "ia ib ic id"
    "ia ib ic id";
}

.itema {
  grid-area: ia;
  width: 100%;
}

.itemb {
  grid-area: ib;
  width: 100%;
}

.itemc {
  grid-area: ic;
  width: 100%;
}

.itemd {
  grid-area: id;
  width: 100%;
}

.contacto {
  text-align: center;
  gap: 10px;
  background-color: #8dd1c4;
  padding: 5.5% 0 2%;
}

.contacto img {
  height: 35px;
  margin-bottom: 2.5%;
}

.menu-footer {
  display: flex;
  gap: 8%;
  justify-content: center;
  margin-bottom: 6.5%;
}

.menu-footer a {
  font-family: var(--font2);
  font-size: 18px;
  color: hsl(167, 40%, 24%);
  text-decoration: none;
}

.redes-sociales {
  display: flex;
  gap: 2%;
  justify-content: center;
}

.redes-sociales img {
  height: 25px;
  margin-bottom: 2.5%;
}

/*VERSIÓN MOBILE*/
@media screen and (max-width: 767px) {
  .principal h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  .transformacion .parrafo,
  .audiencia .parrafo {
    text-align: center;
  }

  .transformacion .link,
  .audiencia .link {
    text-align: center;
  }

  h3 {
    font-size: 18px;
  }

  .transformacion,
  .audiencia,
  .graficos-fotografia {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    flex: 1;
    text-align: center;
  }

  .transformacion div:nth-child(1) {
    order: 2;
    padding: 10% 15px 16%;
  }

  .transformacion .imagen-derecho {
    width: 100%;
    height: 400px;
    order: 1;
  }

  .audiencia div:nth-child(2) {
    order: 2;
    padding: 12% 15px 16%;
  }

  .audiencia .imagen-izquierda {
    width: 100%;
    height: 400px;
    order: 1;
  }

  .graficos {
    padding: 50% 15px 5%;
  }

  .fotografia {
    padding: 50% 15px 5%;
  }

  .fotografia .parrafo {
    line-height: 25px;
  }

  .testimonios {
    padding: 8.5% 15px 11%;
  }

  .testimonios .perfiles {
    grid-template-columns: repeat(1, 100%);
    gap: 50px;
  }

  .testimonio-perfil .descripcion {
    margin-block-start: 6%;
  }

  .testimonio-perfil .nombre-testimonio {
    line-height: 6px;
    margin-block-start: 10%;

  }

  .testimonio-perfil .descripcion {
    line-height: 26px;
    font-size: 16px;
  }

  .items {
    display: grid;
    grid-template-areas: "ia ib"
      "ia ib"
      "ic id"
      "ic id";
  }

  .contacto img {
    height: 30px;
    margin-bottom: 5.5%;
  }

  .menu-footer a {
    font-size: 15px;
  }

  .menu-footer {
    margin-bottom: 7.5%;
  }

  .redes-sociales {
    gap: 10%;
  }

  .contacto {
    padding: 5.5% 0 7%;
  }
}