@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --font1: "Fraunces", serif;
  --font2: "Barlow", sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #3dc0ff;
  display: flex;
  justify-content: space-between;
  padding: 2% 2%;
}

.topnav a {
  padding: 14px 16px;
}

.menuContent a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: var(--font2);
}

.menuContent a:hover {
  background-color: rgba(221, 221, 221, 0);
  color: black;
}

.menuContent a.active {
  background-color: #f0e914;
  color: white;
}

.menuContent .icon {
  display: none;
}

#contacto {
  background-color: #f2f2f2;
  border-radius: 35px;
  color: #000000;
  font-family: var(--font1);
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {

  .menuContent a,
  .menuContent a:not(:first-child) {
    display: none;
  }

  .menuContent a.icon {
    float: right;
    display: block;
  }

  .menuContent .icon:hover {
    background-color: #000000;
  }

  .menuContent .icon:active {
    background-color: #000000;
  }

  .menuContent.responsive {
    position: absolute;
    background-color: #000000;
    display: inline-block;
    width: 100vw;
    text-align: center;
  }

  .menuContent.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .menuContent.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: rgb(255, 255, 255);
  }

  .fa-navicon:before,
  .fa-reorder:before,
  .fa-bars:before {
    content: "\f0c9";
    color: white;
  }
}